:root {
--primary-color: skyblue;
--secondary-color: #fff8ec; 
--primary-background:lightblue;
}
Header {
    background-color: var(--primary-color);
    padding: 24px;
    text-align: center;
}
.Main-Title{
    text-align: center;
    font-size: 5vw;
}
.welcome-heading{
    font-size: 4.2vw;
    font-weight: bold;
}
.logo-icon img {
    height: 10vh;
    border-radius: 40px;
}
nav{
 display: flex;
 justify-content:space-around;
 font-size: 1.5rem;
}

nav a{
    text-decoration: none;
    color: blue
}
#Home:hover{
    text-decoration: underline blue;
}
#About:hover{
    text-decoration: underline blue;
}
#Projects:hover
{
    text-decoration:underline blue;
}
#Contact:hover{
    text-decoration: underline blue;
}
.wave{
    animation-name: wave;
    animation-duration: 2s;
}
.info-link{
    text-decoration:none;
}
.info-link:hover{
    cursor: grab;
    text-decoration: underline;
}
@keyframes wave{
0% {rotate: 0deg; }
20% {rotate: 15deg;}
30% { rotate: -5deg;}
40% { rotate: 15deg;}
50% {rotate: -5deg;}
60% { rotate: 15deg;}
70% {rotate: -5deg;}
80% {rotate: 15deg;}
90% {rotate: -5deg;}
100% {rotate: 0deg;}
}
.wave:hover{
    animation-name: wave-hover;
    animation-duration: 2s;
}
@keyframes wave-hover{
0% {rotate: 0deg; }
20% {rotate: 15deg;}
30% { rotate: -5deg;}
40% { rotate: 15deg;}
50% {rotate: -5deg;}
60% { rotate: 15deg;}
70% {rotate: -5deg;}
80% {rotate: 15deg;}
90% {rotate: -5deg;}
100% {rotate: 0deg;}
}
img.wave{
    height:14vw;
    width: auto;
}
footer{
    background-color: var(--primary-color);
    text-align: center;
}
body{
margin: 0px;
background-color: var(--secondary-color);
display: flex;
flex-direction: column;
min-height: 100vh;
justify-content: space-between;
}

.home-photo img{
    height: 30vh;
    border-radius: 40px; 
    margin-top: 20px;
}
.introduction{
    font-size: 1.25rem;
    line-height: 130%;
}
section{
text-align: center;
padding: 24px;
}
.left-button{
    margin: 20px;
    font-size: 1.3rem;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-background);
}
.right-button{
    font-size: 1.3rem;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-background);
}

.left-button:hover{
    cursor:grab;
    background-color:burlywood;
}
.right-button:hover{
    cursor: grab;
    background-color:burlywood;
}
#Phone:hover{
    transform: scale(1.2);
}
#Business:hover{
    transform: scale(1.2);
}
#Email:hover{
    transform: scale(1.2);
}
@media screen and (min-width:768px) {
Header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.Main-Title{
    margin-bottom: 0;
    font-size: 1.4rem;
}
nav{
    width: 50%;
    font-size: 1.5rem;
}
.logo-icon{
    width: 20%;
}
}
@media screen and (min-width:1200px){ 
    
    .home-photo img {
        height: 25rem;
        width:auto;
        margin-top: 0;}
    
    .welcome-heading 
        {font-size: 2vw;}
     
    
 .introduction{
        font-size: 28px;
        padding-left: 30px;
        padding-right: 30px;}
    img.wave {
        height: 12vh;
        width: auto;}
    .button{font-size: 1.7rem;}
    .contact-info{font-size: 1.7rem}

}
