:root {
--primary-color: skyblue;
--secondary-color: #fff8ec; 
--primary-background:lightblue;
}
Header {
    background-color: var(--primary-color);
    padding: 16px;
    text-align: center;
}
.Main-Title{
    text-align: center;
    font-size: 20px;
}
.logo-icon img {
    height: 100px;
    border-radius: 40px;
}
nav{
 display: flex;
 justify-content:space-around;
}

nav a{
    text-decoration: none;
    color: blue
}
#Home:hover{
    text-decoration: underline blue;
}
#About:hover{
    text-decoration: underline blue;
}
#Projects:hover
{
    text-decoration:underline blue;
}
#Contact:hover{
    text-decoration: underline blue;
}
.wave{
    animation-name: wave;
    animation-duration: 2s;
}
@keyframes wave{
0% {rotate: 0deg; }
20% {rotate: 15deg;}
30% { rotate: -5deg;}
40% { rotate: 15deg;}
50% {rotate: -5deg;}
60% { rotate: 15deg;}
70% {rotate: -5deg;}
80% {rotate: 15deg;}
90% {rotate: -5deg;}
100% {rotate: 0deg;}
}
.wave:hover{
    animation-name: wave-hover;
    animation-duration: 2s;
}
@keyframes wave-hover{
0% {rotate: 0deg; }
20% {rotate: 15deg;}
30% { rotate: -5deg;}
40% { rotate: 15deg;}
50% {rotate: -5deg;}
60% { rotate: 15deg;}
70% {rotate: -5deg;}
80% {rotate: 15deg;}
90% {rotate: -5deg;}
100% {rotate: 0deg;}
}
footer{
    background-color: var(--primary-color);
    text-align: center;
}
body{
margin: 0px;
background-color: var(--secondary-color);
display: flex;
flex-direction: column;
min-height: 100vh;
justify-content: space-between;
}

.home-photo img{
    height: 250px;
    border-radius: 40px; 
    margin-top: 20px;
}
section{
text-align: center;
}
.left-button{
    margin: 20px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-background);
}
.right-button{
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-background);
}

.left-button:hover{
    cursor:grab;
    background-color:burlywood;
}
.right-button:hover{
    cursor: grab;
    background-color:burlywood;
}
#Phone:hover{
    transform: scale(1.2);
}
#Business:hover{
    transform: scale(1.2);
}
#Email:hover{
    transform: scale(1.2);
}
@media screen and (min-width:768px) {
Header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.Main-Title{
    margin-bottom: 0;
}
nav{
    width: 50%;
    font-size: 20px;
}
.logo-icon{
    width: 20%;
}
}

