main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-main-heading{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}
.project-heading{
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0;
}
.project-heading1{
    font-size: 1.3rem;
    font-weight: bold;
}
.project-paragraph{
    text-align: justify;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.3rem;
    line-height: 130%;
}
.game-image{
    width: 80vw;
    height: auto;
    padding: 24px;
    margin-bottom: 0;
}
.bank-pic{
    width: 80vw;
    height: auto;
    padding: 24px;
}
.code-pic{
    width: 80vw;
    height:auto;
    padding: 24px;
}

.zoom{
    font-size: 1.2rem;
}
.click-here{
    text-align: center;
}
@media screen and (max-width:1200px) {
    iframe.container{display: none;}
    .click-here{ 
        display: none;
    }
}
@media screen and (min-width:1200px) {
    img.game-image{display: none;} 
    .click-here:hover{
        cursor: grab;}
    .zoom{display: none;}
    
    .project-main-heading{
        font-size: 2rem;
    }
    .project-heading1{
        font-size: 1.8rem;
    }
    .project-heading{
        font-size: 1.8rem;
    }
    .project-paragraph{
        font-size: 1.7rem
    }
    .bank-pic{
        width: 50vw;
        height: auto;
    }
    .code-pic{
        width: 50vw;
        height: auto;
    }
}

@media screen and (max-width:768px) {
    .code-pic:hover{
        transform: scale(1.3);
    }
}
