
.heading-about{
    font-size: 1.45rem;
    font-weight: bold;
   
}
.heading-skills{
    font-size: 1.35rem;
    font-weight: bold;
}
.job-heading{
    font-size: 1.35rem;
    font-weight:bold;
    margin: auto;
}
.info-about{
   text-align: justify;
   padding-left: 24px;
   padding-right: 24px;
   margin-top: 0;
   font-size: 1.15rem;
   line-height: 130%;
}
.skills-list{
    text-align: justify;
   padding-right: 24px;
}
ul li{
    margin-bottom: 8px;
    line-height: 130%;
    font-size: 1.2rem;
}
.job-info{
    text-align: justify;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 1.2rem;
    line-height: 130%;
}
.download-button{
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color:var(--primary-color);
    color: black
}
.download-button:hover{
    background-color: bisque;
    cursor: grab;
}
@media screen and (min-width:1200px) {

.info-about{
    line-height: 150%;
    font-size: 1.5rem;
}
    i{
       margin-right: 10px;
    }
    ul li{
        font-size: 1.5rem;
        line-height: 40px;
    } 
    .job-heading{
        text-align: center;
    }
    .job-info{
        text-align: justify;
        font-size: 1.5rem;
    }
    .download-button{
        font-size: 1.5rem;
    }
}
