
.heading-about{
    font-size: 1.45rem;
    font-weight: bold;
   
}
.heading-skills{
    font-size: 1.35rem;
    font-weight: bold;
}
.job-heading{
    font-size: 1.35rem;
    font-weight:bold;
    margin: auto;
}
.info-about{
   text-align: justify;
   padding-left: 24px;
   padding-right: 24px;
   margin-top: 0;
   font-size: 1.15rem;
   line-height: 130%;
}
.skills-list{
    text-align: justify;
   padding-right: 24px;
}
ul li{
    margin-bottom: 8px;
    line-height: 130%;
    font-size: 1.2rem;
}
.job-info{
    text-align: justify;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 1.2rem;
    line-height: 130%;
}
.download-button{
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color:var(--primary-color)
}
.download-button:hover{
    background-color: bisque;
    cursor: grab;
}
@media screen and (min-width:1200px) {

.info-about{
    line-height: 150%;
}
    i{
       margin-right: 10px;
    }
    ul li{
        line-height: 40px;
    } 
    .job-heading{
        text-align: center;
    }
    .job-info{
        text-align: justify;
    }
    .download-button{
        font-size: 1.3rem;
    }
}
/* note this is to solve a problem on my home laptop screen where the skills list sits to far left */
@media screen and (min-width:1600px){
   
    div.container{ 
        text-align:center;}
        ul.skills-list{
            display: inline-block;
            text-align: left;
        }
        div.box{ text-align: center;}
        .info-about{
       font-size: 1.4rem;
       text-align: center
         
        }
        ul li{
            font-size: 1.4rem;
        }
        .heading-skills{
            font-size: 1.5rem
        }
        .job-heading{
            font-size: 1.5rem;
        }
        .job-info{
            font-size: 1.4rem;
            text-align: center;
        }
        .download-button a{
            font-size: 1.4rem;
        }
}