
main {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.form{
    font-size: 1.2rem;
    }
 .form-input{
    width: 100%;
    border: none;
    background-color: lightgrey;
    padding: 0.6rem;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 20px;
    resize: vertical;
 }
 .form-input:focus{
    background-color: lightskyblue;
    outline: none;
 }
 .contact-heading{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
 }
 .contact-paragraph {
    text-align: justify;
    padding: 24px;
    margin: 0;
    font-size: 1.1rem;
    line-height: 130%;
 }
.social-media{
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
    margin-bottom: 20px;
}
.social-media a i{
    font-size: 2rem;
    color: blue;
}
.social-media a i:hover{
    color: red;
}
.button{
    text-align: center;
}
.Submit-button{
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    margin-bottom: 10px;
    min-width: 180px;
    color: black;
}
.Submit-button:hover{
    background-color: bisque;
}
@media screen and (min-width:768px) {
 
    .form-input{
        padding: 1rem;
        border-radius: 20px;
        font-size: 1.4rem;

    }
   .social-media a i{
    margin-top: 50px;
   }
   .Submit-button{
    font-size: 1.4rem;
    margin-bottom: 20px;
   }
   
   .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;}
   }
@media screen and (min-width:1200px){
    .form{
        font-size: 1.5rem;
    }
    .Submit-button{
        font-size: 1.5rem;
    }
    .social-media a i{
        font-size: 2.5rem;
    }
    .contact-heading{
        font-size: 2.5rem
    }
    .contact-paragraph{
       font-size:1.8rem
    }
}
