main{
    display: flex;
    justify-content: center;
}
.project-main-heading{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.project-heading{
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
}
.project-heading1{
    font-size: 18px;
    font-weight: bold;
}
.project-paragraph{
    text-align: justify;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
}
.game-image{
    width: 340px;
    height: auto;
    padding: 24px;
    margin-bottom: 0;
 
}
.bank-pic{
    width: 340px;
    height: auto;
    padding: 24px;
}
.code-pic{
    width: 340px;
    height:auto;
    padding: 24px;
}
.bank-pic:hover{
    transform: scale(1.5);
}
.code-pic:hover{
    transform: scale(2)
}

@media screen and (max-width:1200px) {
    iframe.container{display: none;}
    .click-here{ 
        display: none;
    }
}
@media screen and (min-width:1200px) {
    img.game-image{display: none;} 
    .click-here:hover{
        cursor: grab;}
    .zoom{display: none;}
}

@media screen and (min-width:768px){
    
    .project-main-heading{
        font-size: 30px;
    }
    .project-heading1{
        font-size: 25px;
    }
    .project-heading{
        font-size: 25px;
    }
    .project-paragraph{
        font-size: 20px;
        
    }
    .game-image{
        height: 450px;
        width: auto;
    }
    .bank-pic{
        height:450px;
        width: auto;
    }
    .code-pic{
        width: 650px;
        height: auto;
       
    }
}

    
